* {
  padding: 0;
  margin: 0;
  border: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro{
    text-align: center;
}
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  gap: 30px;
  width: 20rem;
  height: 25rem;
  padding: 10px;
  border-radius: 11px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
img {
  width: 12rem;
  height: 12rem;
  animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* 20% bigger */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}
