.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.logoArea{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F5E9;
    width:100%;
    height:70%;
    margin-top:50px;
    padding: 10px;
    position: relative; /* Ensure positioning for absolute children */
    overflow: hidden; /* Prevent child elements from going outside */
}
.covercaption{
  color: white;
  position: absolute;
  bottom: 5%;
  font-size:1rem;
  font-family:Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.348);
  backdrop-filter: blur(3px);
  padding: 1rem 5rem;
  border-radius:11px;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  animation: levitate2 3s ease-in-out infinite alternate;
}
@keyframes levitate2 {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); 
      filter: drop-shadow(5px 0px 10px  #3f3f3f);}
    100% { transform: translateY(0); }
}


.mainbody{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width:100%;
    height:153rem;
    background-color: #E8F5E9;
    padding: 10px;
   
}
.itemholder{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cardImgHolder{
    display: flex;
    width:100%;
    height:15rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}



.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    
  }
  
  .cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(91, 242, 129);
    color: black;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold; 
  }
  

.card-img-top{
    width:80%;
    height:80%;
    transition: all 2.5s ease;
    
}
.card-img-top:hover {
    transform:scale(1.3);
}
h4{
    text-transform: capitalize;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#cart{
    cursor: pointer;
}
.cartspan{
    cursor: pointer;
    width:2rem;
    height:2rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    display: flex;
    padding:4.8px;
    /* align-items: center;
    align-self: center; */
    justify-items: center;
}
.cartspan:hover{
    background-color:#94d880 ;
    color:#172812 ;
}
.finalinfo {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
#priceP{
    font-weight: bold;
    /* background-color: red; */
}
.innerfinalinfo{
    /* background-color: pink; */
    display: flex;
    gap:15px ;
    align-items: center;
}
button{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.socialhadle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height:30%;
}
.fa{
    color: #0d0f12;
    transition: transform 0.6s ease-in-out;
}
.fa:hover{
    transform: scale(1.1);
}
@media (max-width: 480px) {

 #mainbody{
    display: flex;
    flex-wrap: wrap;
 }

}